<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title page-title="">Mailer App</title>
</head>
<body >
    <form method="POST">
        <input type='email' name='msg_recipient' placeholder="Add recipient's email" autofocus>
        <br>
        <input type='text' name='msg_title' placeholder="Add email title">
        <br>
        <textarea type='text' name='msg_body' rows="4" cols="50" placeholder="Add message content"></textarea>
        <br>
        <button name="submit" value="send_email">Send Email</button>
    </form>
</body>
</html>